<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>-->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
  </configSections>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>-->
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.6.0" newVersion="6.9.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="K3EntitiesADO" connectionString="DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.18.8.168)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=k3prod_srv)));PASSWORD=fu6rufra;PERSIST SECURITY INFO=True;USER ID=KEWILLFWD" providerName="Oracle.DataAccess.Client" />
    <!--Prod-->
    <!--<add name="K35EntitiesADO" connectionString="server=rm-uf61yoyktxb0wigd1.mysql.rds.aliyuncs.com;user id=k35prod;persistsecurityinfo=True;database=k35prod" providerName="MySql.Data.MySqlClient" />-->
    <!--Sea DEV-->
    <add name="K35EntitiesADO" connectionString="server=rm-uf62b613b1lv36605.mysql.rds.aliyuncs.com;user id=k35prod;persistsecurityinfo=True;database=k35_seadev" providerName="MySql.Data.MySqlClient" />

    <!--<add name="K3Entities" connectionString="provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=K3PROD;PASSWORD=fu6rufra;PERSIST SECURITY INFO=True;USER ID=KEWILLFWD&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="K35Entities" connectionString="metadata=res://*/K35DataModel.csdl|res://*/K35DataModel.ssdl|res://*/K35DataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=cnxmn01xdc068;user id=root;password=Abcd1234;persistsecurityinfo=True;database=kfms_sit&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="OracleProvider" value="Oracle.ManagedDataAccess.Client" />
    <add key="MysqlProvider" value="MySql.Data.MySqlClient" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
</configuration>