<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="K3EntitiesADO" connectionString="DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.18.8.168)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=k3prod_srv)));PASSWORD=fu6rufra;PERSIST SECURITY INFO=True;USER ID=KEWILLFWD" providerName="Oracle.DataAccess.Client" />
    <!--Prod-->
    <!--<add name="K35EntitiesADO" connectionString="server=rm-uf61yoyktxb0wigd1.mysql.rds.aliyuncs.com;user id=k35prod;persistsecurityinfo=True;database=k35prod" providerName="MySql.Data.MySqlClient" />-->
    <!--Sea DEV-->
    <add name="K35EntitiesADO" connectionString="server=rm-uf62b613b1lv36605.mysql.rds.aliyuncs.com;user id=k35prod;persistsecurityinfo=True;database=k35_seadev" providerName="MySql.Data.MySqlClient" />

    <!--<add name="K3Entities" connectionString="provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=K3PROD;PASSWORD=fu6rufra;PERSIST SECURITY INFO=True;USER ID=KEWILLFWD&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="K35Entities" connectionString="metadata=res://*/K35DataModel.csdl|res://*/K35DataModel.ssdl|res://*/K35DataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=cnxmn01xdc068;user id=root;password=Abcd1234;persistsecurityinfo=True;database=kfms_sit&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="OracleProvider" value="Oracle.ManagedDataAccess.Client" />
    <add key="MysqlProvider" value="MySql.Data.MySqlClient" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>